[submodule "submodules/madronalib"]
	path = submodules/madronalib
	url = https://github.com/madronalabs/madronalib.git
[submodule "submodules/readerwriterqueue"]
	path = submodules/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "submodules/dr_libs"]
	path = submodules/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "submodules/wavpack"]
	path = submodules/wavpack
	url = https://github.com/dbry/WavPack.git
[submodule "submodules/utfcpp"]
	path = submodules/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
